<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlsv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GioiThieu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DangKi"></activity>
        <activity android:name=".DangNhap"></activity>
        <activity android:name=".Toi"></activity>
        <activity android:name=".ThongTinCaNhan"></activity>
        <activity android:name=".Moi_Ban_Be"></activity>
        <activity android:name=".CaiDat"></activity>
        <activity android:name=".TrangChuMain"></activity>
        <activity android:name=".GiaoHangAtivity"></activity>
        <activity android:name=".ThongBaoActivity"></activity>
    </application>

</manifest>